@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-purple;
    color: #fff;
    box-sizing: border-box;
    font-size: 20px;
}

#root {
    min-height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#outlined-error-helper-text-helper-text {
    @apply m-0 px-5 bg-purple;
}
